@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Where would you like to go?</h1>

<ul>
    <li>@Html.ActionLink("Submit Form 14242", "Form14242")</li>
    <li>@Html.ActionLink("View all submissions", "ViewAll")</li>
</ul>
